<div class="main">
<h3>ユーザー情報一覧</h3>

 <% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
 <% end %>
 
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th class="date">開始日</th>
          <th class="date">終了日</th>
          <th>終日</th>
          <th class="update_at">スケジュール更新日時</th>
          <th>確認</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
 
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td class="count"><%= post.id %></td>
            <td><%= post.title %></td>
            <td><%= post.start.strftime('%Y年%m月%d日') %></td>
            <td><%= post.end.strftime('%Y年%m月%d日') %></td>
            <td>
            <% if post.all == true  %>
            ○
            <% else post.all == false %>
            
            <% end %></td>
            <td><%= post.updated_at.to_s(:datetime_jp)%></td>
            <td>
            <%= link_to "確認", post %>
            </td>
            <td>
            <%= link_to "編集", [:edit, post] %>
            </td>
            <td>
            <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" } %>
            </td>
            </tr>
        <% end %>
      </tbody>
    </table>
 <p><%= link_to "スケジュール新規登録",'/posts/new' %></p>
</div>
   