<div class="new_main">
  <h3>スケジュール新規作成</h3>
  
  <% flash.each do |key, value|%>
    <div id="errors" class="alert alert-<%=key %>" role="alert"><%= value %></div>
  <% end %>
  
  <%= form_for(@post) do |f|%>
  <table>
        <tr>
          <th class="new_th"><%= f.label :title ,"タイトル" %></th>
          <td class="new_tb"><%= f.text_field :title %></td>
        </tr>
 
        <tr>
          <th class="new_th"><%= f.label :start ,"開始日" %></th>
          <td class="new_tb"><%= f.date_field :start %></td>
        </tr>
 
        <tr>
          <th class="new_th"><%= f.label :end ,"終了日" %></th>
          <td class="new_tb"><%= f.date_field :end %></td>
        </tr>
 
        <tr>
          <th class="new_th"><%= f.label :all ,"終日" %></th>
          <td class="new_tb" ><%= f.check_box :all,{}, true, false %>
          <br>終日の場合はチェックを入れます。
        </tr>
        
        <tr class="memomo_tr">
          <th class="new_th"><%= f.label :memo ,"スケジュールメモ" %></th>
          <td class="memo_tb"><%= f.text_area :memo %></td>
        </tr>
      </table>
 
      <div>
        <ul>
          <li><%= f.submit "スケジュールを新規登録する"%></li>
          <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
        </ul>
      </div>
    <% end %>
</div>